@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

/* Menu fixo no topo */

* {
  font-family: 'Poppins', sans-serif;
  color: #411C0C;
}

body {
  background-color: #FFEBF1;
}


.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #411C0C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;

}

/* Nome da empresa */
.top-menu .brand-name {
  font-size: 40px;
  color: #fff;
  text-transform: capitalize;
  margin-left: 10px;
}

/* Logo da empresa */
.top-menu .brand-logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background-image: url(../img/logo_brigaderia.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #FFEBF1;

}

/* Icones de navegação */
.top-menu .nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

/* Estilo dos icones */
.top-menu .nav-icons i {
  font-size: 25px;
  cursor: pointer;
  position: relative;

  margin: 10px;
  color: #FFf;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "cabecalho"
    "conteudo"
    "rodape";
  grid-template-columns: auto;
  grid-template-rows: 60px auto 50px;
  
}

.cabecalho {
  grid-area: cabecalho;
}

.conteudo {
  grid-area: conteudo;
  margin-top: 100px;
}

.rodape {
  grid-area: rodape;
}

.menu-options ul {
  display: flex;
  justify-content: space-between;
}

.menu-options li {
  list-style: none;
  margin: 0 10%;
  font-weight: bold;
}

p,
h2,
iframe {
  margin-top: 5px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

.quem-somos,
.photos,
.products,
.location {
  margin: 20px;
  border: 1px solid #D6166F;
  padding: 25px;
  text-align: center;
}